- up = !app.isNew
- f = form(app, 'app', errs)
- names = []
- vals = []

form.form-horizontal(method="post", action=(up?'/apps/'+app.id:'/apps'))
	fieldset
		- if (up)
			| !{'<input type="hidden" name="_method" value="put" />'}
		| !{f.text('identifier')}
		| !{f.text('name')}
		- for (i = categories.length - 1; i >= 0; i--)
			- names.push(categories[i].name)
		| !{f.checkbox('categories', names)}
		.form-actions
			button.btn.btn-primary(type='submit')= (up?"Edit":"Create") + ' app'
			| &nbsp;
			button.btn.btn-danger(type='reset') Cancel