- up = !report.isNew
- f = form(report, 'report', errs)

form.form-horizontal(method="post", action=(up?'/reports/'+report.id:'/reports'))
	fieldset
		- if (up)
			| !{'<input type="hidden" name="_method" value="put" />'}
		| !{f.text('userTelNumber')}
		| !{f.text('appIdentifier')}
		| !{f.text('totalTime')}
		| !{f.text('timeForMonth')}
		| !{f.text('timeForWeek')}
		| !{f.text('timeForDay')}
		.form-actions
			button.btn.btn-primary(type='submit')= (up?"Edit":"Create") + ' report'
			| &nbsp;
			button.btn.btn-danger(type='reset') Cancel