extends ../layout

block content
  .page-header
    h1
      | Reports
      span.pull-right
        a.btn.btn-primary(href='/reports/new') New
  table.table.table-striped
    thead
      tr
        th UserTelNumber
        th AppIdentifier
        th TotalTime
        th TimeForMonth
        th TimeForWeek
        th TimeForDay
        th 
        th
        th
    tbody
      each report in reports
        tr
          td= report.userTelNumber
          td= report.appIdentifier
          td= report.totalTime
          td= report.timeForMonth
          td= report.timeForWeek
          td= report.timeForDay
          td.actions
            a.btn.btn-mini.btn-primary(href='/reports/'+report.id) Show
          td.actions
            a.btn.btn-mini(href='/reports/'+report.id) Edit
          td.actions
            a.btn.btn-mini.btn-danger.apiDestroy(href='/reports/'+report.id) Destroy
