- up = !install.isNew
- f = form(install, 'install', errs)
- days = ["&nbsp;", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.css')
link(rel='stylesheet', href='/stylesheets/forbiddens.css')

script(type='text/javascript', src='/javascripts/jquery-ui-1.10.3.custom.min.js')
script(type='text/javascript', src='/javascripts/forbiddens.js')

form.form-horizontal(method="post", action=(up?'/users/'+install.userId+'/installs/'+install.appPkg:'/users/'+install.userId+'/installs'))
	fieldset
		- if (up)
			| !{'<input type="hidden" name="_method" value="put" />'}
		| !{f.text('appPkg')}
		| !{f.text('userId')}
		| !{f.layout_header('forbiddens')}
		- for (var k = 0; k < days.length; k++)
			span(class='selectable_title')= days[k]
		ul(class='selectable inline')
			- for (var i = 0; i < 24; i++)
				li(class='forbidden_label') #{i}시
		- for (var k = 1; k < days.length; k++)
			ul(id='selectable#{k}', class='selectable inline')
				- for (var i = 0; i < 144; i++)
					li(class='ui-widget-content')
		| !{f.layout_footer('forbiddens')}
		| !{'<input type="hidden" name="install[forbiddens][0][startTime]" value="" />'}
		| !{'<input type="hidden" name="install[forbiddens][0][duration]" value="" />'}

		.form-actions
			button.btn.btn-primary(type='submit')= (up?"Edit":"Create") + ' install'
			| &nbsp;
			button.btn.btn-danger(type='reset') Cancel