extends ../layout

block content
  .page-header
    link(rel='stylesheet', href='/stylesheets/ui-lightness/jquery-ui-1.10.3.custom.css')
    link(rel='stylesheet', href='/stylesheets/forbiddens.css')

    script(type='text/javascript', src='/javascripts/jquery-ui-1.10.3.custom.min.js')
    script(type='text/javascript', src='/javascripts/forbiddens.js')
    h1
      | Install
      span.pull-right
        a.btn.btn-inverse(href='/users/'+install.userId+'/installs/'+install.appPkg) Back
        | &nbsp;
        a.btn(href='/users/'+install.userId+'/installs/'+install.appPkg+'/edit') Edit
        | &nbsp;
        a.btn.btn-danger.apiDestroy(href='/users/'+install.userId+'/installs/'+install.appPkg) Destroy
  table#show.table.table-bordered.table-striped
    tbody
      tr
        td
          strong AppPkg
        td= install.appPkg
      tr
        td
          strong UserId
        td= install.userId
      tr
        td
          strong Forbiddens
        td
          - days = ["&nbsp;", "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
          - for (var k = 0; k < days.length; k++)
            span(class='selectable_title')= days[k]
          ul(class='selectable inline')
            - for (var i = 0; i < 24; i++)
              li(class='forbidden_label') #{i}시
          - for (var k = 1; k < days.length; k++)
            ul(id='selectable#{k}', class='selectable inline')
              - for (var i = 0; i < 144; i++)
                li(class='ui-widget-content')
          script(type='text/javascript')
            var forbiddens = !{JSON.stringify(install.forbiddens)}
            makeSelectedByData(forbiddens);