extends ../layout

block content
  .page-header
    h1
      | Usages
      span.pull-right
        a.btn.btn-primary(href='/usages/new') New
    span
      - if (from >= length)
        a.btn.btn-link(href="/usages?from=#{from-length}&length=#{length-length}") Prev
      - else
        a.btn.btn-link.disabled Prev
      - if (usages.length === length)
        a.btn.btn-link(href="/usages?from=#{from+length}&length=#{length+length}") Next
      - else
        a.btn.btn-link.disabled Next
  table.table.table-striped
    thead
      tr
        th UserId
        th AppPkg
        th StartTime
        th Duration
        th Latitude
        th Longitude
        th UrlInfo
        th 
        th
        th
    tbody
      each usage in usages
        tr
          td= usage.userId
          td= usage.appPkg
          td= usage.startTime
          td= usage.duration
          td= usage.latitude
          td= usage.longitude
          td= usage.urlInfo
          td.actions
            a.btn.btn-mini.btn-primary(href='/usages/'+usage.id) Show
          td.actions
            a.btn.btn-mini(href='/usages/'+usage.id) Edit
          td.actions
            a.btn.btn-mini.btn-danger.apiDestroy(href='/usages/'+usage.id) Destroy
