extends ../layout

block content
  .page-header
    h1
      | Usage
      span.pull-right
        a.btn.btn-inverse(href='/usages') Back
        | &nbsp;
        a.btn(href='/usages/'+usage.id+'/edit') Edit
        | &nbsp;
        a.btn.btn-danger.apiDestroy(href='/usages/'+usage.id) Destroy
  table.table.table-bordered.table-striped
    tbody
      tr
        td
          strong UserId
        td= usage.userId
      tr
        td
          strong AppPkg
        td= usage.appPkg
      tr
        td
          strong StartTime
        td= usage.startTime
      tr
        td
          strong Duration
        td= usage.duration
      tr
        td
          strong Latitude
        td= usage.latitude
      tr
        td
          strong Longitude
        td= usage.longitude
      tr
        td
          strong UrlInfo
        td= usage.urlInfo