extends ../layout

block content
  .page-header
    h1
      | Usage
      span.pull-right
        a.btn.btn-inverse(href='/usages') Back
        | &nbsp;
        a.btn(href='/usages/'+usage.id+'/edit') Edit
        | &nbsp;
        a.btn.btn-danger.apiDestroy(href='/usages/'+usage.id) Destroy
  table.table.table-bordered.table-striped
    tbody
      tr
        td
          strong UserTelNumber
        td= usage.userTelNumber
      tr
        td
          strong AppIdentifier
        td= usage.appIdentifier
      tr
        td
          strong StartedAt
        td= usage.startedAt
      tr
        td
          strong EnddedAt
        td= usage.enddedAt
      tr
        td
          strong Latitude
        td= usage.latitude
      tr
        td
          strong Longitude
        td= usage.longitude
      tr
        td
          strong Host
        td= usage.host