extends ../layout

block content
  .page-header
    h1
      | Usage
      span.pull-right
        a.btn.btn-inverse(href='/usages') Back
        | &nbsp;
        a.btn(href='/usages/'+usage.id+'/edit') Edit
        | &nbsp;
        a.btn.btn-danger.apiDestroy(href='/usages/'+usage.id) Destroy
  table.table.table-bordered.table-striped
    tbody
      tr
        td
          strong Name
        td= usage.name
      tr
        td
          strong Birthday
        td= usage.birth
      tr
        td
          strong School
        td= usage.school
      tr
        td
          strong Grade
        td= usage.grade
      tr
        td
          strong Class
        td= usage.class
      tr
        td
          strong Address
        td= usage.address
      tr
        td
          strong Address for School
        td= usage.addressForSchool
      tr
        td
          strong Friends
        td 
          - for (var i = (typeof usage.followings !== 'undefined') ? usage.followings.length - 1 : -1; i >= 0; i--)
            = usage.followings[i]