- up = !survey.isNew
- f = form(survey, 'survey', errs)

form.form-horizontal(method="post", action=(up?'/surveys/'+survey.id:'/surveys'))
	fieldset
		- if (up)
			| !{'<input type="hidden" name="_method" value="put" />'}
		| !{f.text('identifier')}
		| !{f.text('version')}
		| !{f.text('userId')}
		| !{f.text('answeredAt')}
		| !{f.text('answers')}
		.form-actions
			button.btn.btn-primary(type='submit')= (up?"Edit":"Create") + ' survey'
			| &nbsp;
			button.btn.btn-danger(type='reset') Cancel