extends ../layout

block content
  .page-header
    h1
      | Surveys
      span.pull-right
        a.btn.btn-primary(href='/surveys/new') New
  table.table.table-striped
    thead
      tr
        th SurveyId
        th Version
        th UserId
        th AnsweredAt
        th Answers
        th 
        th
        th
    tbody
      each survey in surveys
        tr
          td= survey.surveyId
          td= survey.version
          td= survey.userId
          td= survey.answeredAt
          td= survey.answers
          td.actions
            a.btn.btn-mini.btn-primary(href='/surveys/'+survey.id) Show
          td.actions
            a.btn.btn-mini(href='/surveys/'+survey.id) Edit
          td.actions
            a.btn.btn-mini.btn-danger.apiDestroy(href='/surveys/'+survey.id) Destroy